.react-calendar {
    width: 100%; 
    max-width: 350px; 
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 0 auto; 
}

/* Custom responsive widths */
@media (min-width: 640px) {
    .react-calendar {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    .react-calendar {
        max-width: 350px
    }
}
